.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
}
