@use '~/styles/variables.scss' as v;

.folder-tree {
  position: relative;
  height: 480px;
  border: 2px solid v.$color-base;

  > .tree {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }
}
