@use '~/styles/variables.scss' as v;

.file-upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  border: 2px dashed v.$color-border-line;
  border-radius: 24px;

  &.-dragover {
    background-color: v.$color-precise;
  }

  > .image {
    width: 24px;
    height: 24px;
  }

  > .caption {
    margin-top: 16px;
    font-size: v.$font-size-middle;
    color: v.$color-black;
  }

  > .form {
    margin-top: 16px;
  }

  > .form > .button {
    font-size: v.$font-size-middle;
    color: v.$color-prime;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
  }

  > .form > .input {
    display: none;
  }
}
